<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAPP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/jquery/dist/jquery.js"></script>
</head>
<body>
    <form method="post" asp-controller="Administrator">
        <partial name="_header" />
        <div class="container">
            <main role="main" class="pb-3">
            
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <input type="submit" class="nav-link" asp-controller="Singer" asp-action="Singers" value="Administrators" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    @RenderBody()

            </main>
        </div>
    </form>
    <partial name="_footer" />
</body>
</html>