<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_head" />
</head>
<body>
    <form method="post">
        <partial name="_header" />
        <div class="container">
            <main role="main" class="pb-3">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <input type="submit" class="nav-link" asp-controller="Singer" asp-action="Singers" value="Singers" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Songs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    @RenderBody()
            </main>
        </div>
    </form>
    <partial name="_footer" />
    </body>
</html>