@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!doctype html>
<html>
    <head>
        <partial name="_Head" />
    </head>
    <body>
    <form method="post" style="width:100vw">
            <partial name="_Header" />
            <div class="container">
                <main role="main" class="pb-3">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a id="Home" class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <button type="submit" class="nav-link" asp-controller="Administrator" asp-action="Accounts">@localizer["Administrator"]</button>
                        </li>
                        <li class="nav-item">
                            <a id="Users" class="nav-link" href="#">Users</a>
                        </li>
                    </ul>
                    @RenderBody()
                    <partial name="_Footer" />
                </main>
            </div>
        </form>
    </body>
</html>