@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Marco Scipinotti">
<title>@localizer["GDA"]</title>

<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/jquery-ui.min.css" asp-append-version="true" />
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-ui.min.js"></script>

<partial name="_Favicons" />
@* <script src="~/lib/jquery/dist/ui/i18n/datepicker-@(Program.Language).js"></script> *@
