<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Marco Scipinotti">
    <title>Signin Template · Bootstrap v5.3</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAPP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/signin.css" asp-append-version="true"  />

  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary text-center">
    <main class="form-signin w-100 m-auto">
        <form method="post" asp-controller="Home" asp-action="Logon">
            @RenderBody()
        </form>
    </main>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
  </body>
</html>
