<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Marco Scipinotti">
    <title>Graph Drawing Algorithms</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/signin.css" asp-append-version="true"  />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/jquery/dist/jquery.js"></script>
  </head>

  <body class="d-flex align-items-center py-4 bg-body-tertiary text-center">
    <main class="form-signin w-100 m-auto">
        <form method="post" asp-controller="Home" asp-action="Logon">
            @RenderBody()
        </form>
        <partial name="_footer" />
    </main>
  </body>

</html>
