@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!doctype html>
<html data-bs-theme="auto">
    <head>
        <partial name="_Head" />
    </head>

    <body class="d-flex align-items-center py-4 bg-body-tertiary text-center">
        <main class="form-signin w-100 m-auto">
        <form method="post" asp-controller="Home" onsubmit="return checkPassword()">
                @RenderBody()
            </form>
            <partial name="_Footer" />
            <partial name="_Culture" />
        </main>
    </body>
</html>

<script type="text/javascript">
    function checkPassword()
    {
        if (!document.getElementById("retype")) return true;
        // At least 8 - 16 characters,
        // must contain at least 1 uppercase letter,
        // must contain at least 1 lowercase letter,
        // and 1 number.
        // at least one of any of this special characters $ % # * & - . +
        let regex = new RegExp("^(?=.*\d)(?=.*[a-zA-Z])(?=.*[-\+\#\$\.\%\&\*]).{8,16}$$");
        if (!regex.test(password.val() {
            $(".warningMessage").html("password does not respect constraints requested. Please click help for details");
            return false;
        }
        if ($("#password").val() != $("#retype").val()) {
            $(".warningMessage").html("password and retype password fields are not equal");
            return false;
        }
        return true;
    }
</script>