@model WebAPP.Infrastructure.Models.Tokens

<div class="navbar-text">
    <div class="dropdown">
        <a class="btn dropdown-toggle" type="button" role="button" href="#" value="@Model.Login" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.Login</a>
        <ul class="dropdown-menu">
            <li><button type="submit" class="dropdown-item" asp-controller="Administrator" asp-action="Index">Administrator</button></li>
            <li><a class="dropdown-item active" href="#">Power user</a></li>
            <li><a class="dropdown-item" href="#">User</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><button type="submit" class="dropdown-item" asp-controller="Home" asp-action="Logoff">Logoff</button></li>
        </ul>
    </div>
</div>
