@using Microsoft.AspNetCore.Mvc.Localization
@using WebApp.Infrastructure.Models.dto
@inject IViewLocalizer localizer
@model Tokens

<div class="text-center">
    <h3>@localizer["PageTitle"]</h3>
</div>
