@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model WebAPP.Infrastructure.Models.BiographyDto

<div class="d-flex flex-row">
    <div class="p-2"><img src="~/Images/leaves.jpg" alt="Immagine dell'autore" /></div>
    <div class="d-flex flex-column">
        <div class="p-2">@Model.Text</div>
        <div class="p-2">Flex item 2</div>
        <div class="p-2">Flex item 3</div>
        <div class="p-2">Flex item 4</div>
        <div class="p-2">Flex item 5</div>
    </div>
    <div class="d-flex flex-row"></div>
</div>
<div class="d-flex flex-column">
    <div class="p-2">Flex item 1</div>
    <div class="p-2">Flex item 2</div>
    <div class="p-2">Flex item 3</div>
    <div class="p-2">Flex item 4</div>
    <div class="p-2">Flex item 5</div>
</div>

