@model WebAPP.Models.AccountDto

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Login
{
    @Model.Login
}

<a class="nav-link" asp-area="" asp-action="Singer" asp-route-account=@Model asp-route-prova="12">Singers</a>

<label asp-for="Login"></label>
<input type="text" asp-for=Login value="mscipinotti" />

<label asp-for="Password"></label>
<input type="password" asp-for=Password value="password" />

<input type="submit" value="Logon" asp-action="Index" />
