#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh; /* 100% del browser */
    margin-left: -25rem; /* 16 * 25 = 400px di spostamento laterale a sinistra (1rem = 16px) */
    transition: margin 0.75s ease-out; /* tempo di esecuzione per apertura chiusura della colonna dell'help */
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 25rem;
    }

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0; /* In alternanza col successivo */
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -25rem; /* Quando l'help non si vede: la div #sidebar-wrapper ha un margine sinistro a -25rem.
                                               Il click per aprire e chiudere l'help toglie e mette la classe sb-sidenav-toggled al body e quindi in cascata mette e toglie margin-left: 0 a sidebar-wrapper (sidebar-wrapper appartiene a body) */
    }
}
