html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Le seguenti 2 proprietà non vengono applicate se non si sovrascrive bootstrap con .rowSelected sulla riga ove si è fatto click */
    tr:nth-child(odd) {
        background-color: yellowgreen;
    }

    tr:nth-child(even) {
        background-color: yellowgreen;
    }

    .rowSelected {
        --bs-table-bg: "";
    }

tbody tr:hover {
    outline: thin solid;
}

.inputText {
    border-width: 0px;
    width: 250px;
}

.warningMessage {
    color: red;
}