html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}

/*.container {
    width:90vw;
}*/

@media (min-width: 2600px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 2534px;
    }
}

/* Le seguenti 2 proprietà non vengono applicate se non si sovrascrive bootstrap con .rowSelected sulla riga ove si è fatto click */
    tr:nth-child(odd) {
        background-color:lightgreen;
    }

    tr:nth-child(even) {
        background-color: lightgreen;
    }

    .rowSelected {
        --bs-table-bg: "";
    }

.filedSelected {
    background-color: lightgreen;
}

tbody tr:hover {
    outline: thin solid;
}

.maxInputText {
    border-width: 0px;
    width: 100vw;
}

.hugeInputText {
    border-width: 0px;
    width: 300px;
}

.inputText {
    border-width: 0px;
    width: 250px;
}

.midInputText {
    border-width: 0px;
    width: 200px;
}

.slimInputText {
    border-width: 0px;
    width: 150px;
}

.superSlimInputText {
    border-width: 0px;
    width: 50px;
}

.ultraSlimInputText {
    border-width: 0px;
    width: 15px;
}

.warningMessage {
    color: red;
}

